* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  vertical-align: baseline;
}
html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.6rem;
}

text {
  font-size: 1.2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  font-size: 2.5rem;
  font-weight: 800;
  margin-top: 4rem;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: auto;
  padding: 8px;
  /* margin-top: -20px; */
  font: 10px sans-serif;
  background: #ddd;
  pointer-events: none;
}

/* .tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 12px;
  padding: 8px;
  top: 8px;
  font: 10px sans-serif;
  background: #ddd;
  pointer-events: none;
} */
